<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <connectionStrings>
        <add name="FCA" connectionString="server=GVE-ENVY\DEV;Integrated Security=yes;Database=FCA"/>
        <!--<add name="FCA" connectionString="Server=GVE-ENVY\DEV;Database=MNC-DB;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>-->
        <!--<add name="FCA" connectionString="server=.;Integrated Security=false;Database=FCA;uid=sa;pwd=123;"/>-->
    </connectionStrings>
</configuration>